<!doctype html>
<html>
<head>
  <title>Simplify your text</title>
  <style type="text/css">
    body { max-width: 600px; margin: 1em auto; }
  </style>
</head>
<body>
  <h1>Simplify</h1>
  <p>Are you sick of text that has too many long
  words? Me too! Here's a tool to get rid of them.
  Just Enter some text below and click Submit.</p>
  <form action="/transformed" method="POST">
  <textarea name="text" rows="24" cols="66"></textarea><br>
  <input type="submit" value="Submit!">
  </form>
</body>
</html>
